$color-1: white;
$color-2: black;
$color-3: gray;
$color-4: chocolate;
$color-5: rgb(126, 62, 17);

$font-family1: 'Roboto Slab', serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-family4: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$font-family5: 'Playfair Display', serif;

$font-size1: 45px;
